.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  background-color: var(--background);
}

.login-form {
  background-color: var(--surface);
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px;
}

.login-form h1 {
  color: var(--on-surface);
  text-align: center;
  margin-bottom: 2rem;
  font-size: 2.5rem;
  font-family: "Jack Skull";
}

.input-icon {
  position: absolute;
  left: 1rem;
  top: 50%;
  transform: translateY(-50%);
  color: var(--on-surface-variant);
}

.input-group input {
  width: 100%;
  padding: 0.75rem 1rem 0.75rem 3rem;
  border: 1px solid var(--on-surface-variant);
  border-radius: 4px;
  background-color: var(--surface-light);
  color: var(--on-surface);
}

.input-group input::placeholder {
  color: var(--on-surface-variant);
}

.login-button {
  width: 100%;
  padding: 0.75rem;
  background-color: var(--aurora-blue);
  color: var(--on-surface);
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s ease;
}

.login-button:hover {
  background-color: var(--aurora-green);
}

.login-options {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
}

.forgot-password,
.signup-link {
  color: var(--aurora-blue);
  text-decoration: none;
  font-size: 0.9rem;
}

.forgot-password:hover,
.signup-link:hover {
  text-decoration: underline;
}
